/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Work+Sans:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url('components/arrow.css');
@import url('components/btn.css');
@import url('components/cards.css');
@import url('components/container.css');
@import url('components/email.css');
@import url('components/footer.css');
@import url('components/list.css');
@import url('components/logo.css');
@import url('components/navbar.css');
@import url('components/project.css');
@import url('components/tag.css');
@import url('components/timeline.css');

/* Media queries */
@media (max-width: 1200px) {
  .cta-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-two-thirds {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .project-cards {
    grid-template-columns: 1fr 1fr;
  }
  .gallery {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media (max-width: 960px) {
  .cta-container {
    grid-template-columns: 1fr 1fr;
  }
  .asset-cards {
    grid-template-columns: 1fr 1fr;
  }
  .container-project {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .project-cards {
    grid-template-columns: 1fr;
  }
  footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  .social-icons {
    font-size: 2.8rem;
  }
  .footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .btn-footer {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    border: 1px solid #A8A8A8;
  }
  .btn-footer:hover {
    background-color: #363636;
    border: 1px solid #363636;
  }
  .btn-footer > a:hover {
    color: #FAFAFA;
  }
  #credit {
    margin: 20px 0;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 660px) {
  nav {
    border-bottom: 1px solid #A8A8A8;
  }
  .container-navbar {
    flex-direction: column;
    align-items: center;
  }
  .menu {
    flex-direction: column;
    align-items: center;
  }
  a.navbar-cta {
    display: none;
  }
  ul.menu-entries > li {
    margin: 0;
    background-color: #89C064;
    border: 2px solid #89C064;
    padding: 10px 30px;
    text-align: center;
  }
  ul.menu-entries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  ul.menu-entries > li > a:hover {
    border-bottom: none;
  }
  a > h1#logo {
    font-size: 3.4rem;
  }
}

@media (max-width: 580px) {
  .cta-container {
    grid-template-columns: 1fr;
  }
  .asset-cards {
    grid-template-columns: 1fr;
  }
}

/* Utilities */
body {
  font-family: 'Rubik', sans-serif;
  background-color: #FAFAFA;
  color: #363636;
  margin: 0;
  font-size: 1.4rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  min-height:50px;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 4rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  font-weight: 500;
}

h3 {
  margin-top: 60px;
}

p {
  line-height: 2rem;
}

p.cursive-small {
  font-size: 1.1rem;
  margin: 0;
}

a {
  font-family: 'Cutive Mono', monospace;
}

/* CUSTOM DESIGN */

/* Home page */
h1#hello {
  font-family: 'Cutive Mono', monospace;
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

h1#role-title {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1#contact {
  font-family: 'Cutive Mono', monospace;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h2-subtitle {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

/* Contact page */
a.linkedin {
  text-decoration: none;
  color: #363636;
}

.contact-icons {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.contact-icon {
  padding: 20px;
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

/* Error messages */

.error {
  font-family: 'Cutive Mono', monospace;
  font-size: 6rem;
  margin-bottom: 0.9rem;
}

.error-text {
  margin: 2rem 0;
  margin-bottom: 5rem;
}
