/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Work+Sans:wght@200;400;600&display=swap');
/*font-family: 'Cutive Mono', monospace;
font-family: 'Work Sans', sans-serif;*/

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url('components/btn.css');
@import url('components/container.css');
@import url('components/email.css');
@import url('components/footer.css');
@import url('components/logo.css');
@import url('components/navbar.css');

/* Media queries */
@media (max-width: 1200px) {
  .cta-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .cta-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 580px) {
  .cta-container {
    grid-template-columns: 1fr;
  }
}

/* Utilities */
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #FAFAFA;
  color: #363636;
  margin: 0;
  font-size: 1.4rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height:50px;
}

footer {
  min-height:50px;
}

h1, h2, h3 {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 4rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

p {
  line-height: 2rem;
}

a {
  font-family: 'Cutive Mono', monospace;
}

/* Custom design */
h1#hello {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h1#role-title {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0;
}

.center {
  text-align: center;
}

a.linkedin {
  text-decoration: none;
  color: #363636;
}

.contact-icons {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.contact-icon {
  padding: 20px;
  cursor: pointer;
}
