.arrow-left {
  margin-right: 10px;
  width: 30px;
  height: 20px;
  background-size: cover;
  background-image: url('../../images/arrow-left-dark.svg');
}

.projects-nav-top:hover > .arrow-left {
  background-image: url('../../images/arrow-left-black.svg');
}
