.btn-footer {
  margin: 0 10px;
}

.btn-footer:hover {
  background-color: #89C064;
}

a.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.btn-solid {
  background-color: #363636;
  border: 2px solid #363636;
  color: #FAFAFA;
}

.btn-solid:hover {
  background-color: #89C064;
  border: 2px solid #89C064;
  color: #363636;
}

.btn-outline {
  color: #363636;
  border: 2px solid #A8A8A8;
}

.btn-outline:hover {
  background-color: #363636;
  border: 2px solid #363636;
  color: #FAFAFA;
}

a.btn-small {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  margin: 2rem 0rem 0rem 0rem;
}

.btn-project {
  font-size: 1rem;
  display: inline-block;
  padding: 3px 15px;
}
