/* About page */
.asset-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.asset-card > img {
  width: 60%;
  border-radius: 50%;
  border: 2px solid #A8A8A8;
}

.asset-card > img:hover {
  border: 2px solid #363636;
  box-shadow: 3px 3px 5px rgba(54, 54, 54, 0.2);
}

.asset-card > p {
  font-weight: 600;
}

/* Work page */
.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  grid-auto-rows: 1fr;
  margin-top: 60px;
}

.project-cards > a {
  text-decoration: none;
  color: #363636;
}

.project-card, .project-card-soon {
  border: 2px solid #A8A8A8;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 290px;
}

.project-card > h2, .project-card-soon > h2 {
  font-size: 2.4rem;
  margin: 1rem 0;
}

.project-card-description {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}

.no-cursor {
 cursor: default;
}

/* Logo on hover */
.project-card:hover {
  color: transparent;
  background-repeat: no-repeat;
}

.project-card:hover > * {
  display: none;
}

.cleo:hover {
  background: url('../../images/cleo.svg') center;
  background-size: cover;
}

.inhibit:hover {
  background: url('../../images/inhibit.svg') center;
  background-size: cover;
}

.performance-treanor:hover {
  background: url('../../images/performance-treanor.svg') center;
  background-size: cover;
}

.shaker:hover {
  background: url('../../images/shaker.svg') center;
  background-size: cover;
}

.bookmybook:hover {
  background: url('../../images/bookmybook.svg') center;
  background-size: cover;
}

.fly-ux:hover {
  background: url('../../images/fly-ux.svg') center;
  background-size: cover;
}

.alliancefr:hover {
  background: url('../../images/af.svg') center;
  background-size: cover;
}
