.container {
  width: 90%;
  margin: 0 auto;
}

.container-body {
  padding-top: 2.8rem;
}

.cta-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info-container {
  background-color: #FFFFFF;
  padding: 3rem;
  margin-top: 4rem;
}

.info-container > h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container-two-thirds {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 100px;
}
