nav > div {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.menu-entries {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

ul.menu-entries > li {
  display: inline-block;
  padding: 0px 10px;
  margin-right: 1rem;
}

ul.menu-entries > li > a {
  text-decoration: none;
  color: #363636;
  padding: 5px 0px;
}

ul.menu-entries > li > a:hover {
  border-bottom: 4px solid #363636;
}

.tab-active {
  border-bottom: 4px solid #363636;
}

a.navbar-cta {
  text-decoration: none;
  display: inline-block;
  color: #363636;
  padding: 10px 20px;
  background-color: #89C064;
  border: 2px solid #89C064;
}

a.navbar-cta:hover {
  background-color: #363636;
  border: 2px solid #363636;
  color: #FAFAFA;
}

