.projects-nav-top {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #363636;
  margin-bottom: 30px;
}

.projects-nav-top:hover {
  color: #000000;
}

.projects-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.project-intro {
  margin: 60px 0;
}

.img-cover {
  width: 100%;
  margin-top: 20px;
}

.gallery {
  margin: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.gallery-img {
  width: 100%;
}
