#timeline {
  /*position: fixed;*/
  position: relative;
}

.timeline-right {
  padding-top: 100px;
  padding-left: 40px;
}

/* The actual timeline */
.timeline-left::after {
  content: '';
  position: absolute;
  border-left: 6px solid #363636;
  top: 0;
  bottom: 0;
}

.timeline-card > p {
  margin: 10px 0;
}

.timeline-card {
  position: relative;
  padding-bottom: 40px;
}

.timeline-left::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 6px dashed #363636;
}

/* The dots on the line */
.timeline-card::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #363636;
  border: 6px solid #FAFAFA;
  border-radius: 50%;
  z-index: 1;
  left: -51px;
  top: 3px;
}

.timeline-card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: -100px;
  bottom: 0;
  border-left: 6px solid #363636;
  left: -40px;
}

.timeline-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.4rem;
  font-family: 'Cutive Mono', monospace;
}

.timeline-event {
  margin: 0;
  border: 2px solid #A8A8A8;
  padding: 1px 15px;
  margin-left: 10px;
  font-weight: 200;
}

.timeline-year {
  background-color: #363636;
  color: #FAFAFA;
  padding: 3px 15px;
  margin: 0;
}

.org-name {
  background-color: rgba(137, 192, 100, 0.4);
}
